/Notes/codes/miniconda
/Notes/codes/qiskit_helloworld.ipynb
/Books
/Papers
/Notes/MyNotes/Quantum_Complexity_Theory/notes-NMS.log
/Notes/MyNotes/Quantum_Complexity_Theory/notes.aux
/Notes/MyNotes/Quantum_Complexity_Theory/notes.bbl
/Notes/MyNotes/Quantum_Complexity_Theory/notes.blg
/Notes/MyNotes/Quantum_Complexity_Theory/notes.fdb_latexmk
/Notes/MyNotes/Quantum_Complexity_Theory/notes.fls
/Notes/MyNotes/Quantum_Complexity_Theory/notes.lof
/Notes/MyNotes/Quantum_Complexity_Theory/notes.log
/Notes/MyNotes/Quantum_Complexity_Theory/notes.lot
/Notes/MyNotes/Quantum_Complexity_Theory/notes.out
/Notes/MyNotes/Quantum_Complexity_Theory/notes.synctex.gz
/Notes/MyNotes/Quantum_Complexity_Theory/notes.toc

/Notes/MyNotes/Quantum_Linear_Algebra/notes-NMS.log
/Notes/MyNotes/Quantum_Linear_Algebra/notes.aux
/Notes/MyNotes/Quantum_Linear_Algebra/notes.bbl
/Notes/MyNotes/Quantum_Linear_Algebra/notes.blg
/Notes/MyNotes/Quantum_Linear_Algebra/notes.fdb_latexmk
/Notes/MyNotes/Quantum_Linear_Algebra/notes.fls
/Notes/MyNotes/Quantum_Linear_Algebra/notes.lof
/Notes/MyNotes/Quantum_Linear_Algebra/notes.log
/Notes/MyNotes/Quantum_Linear_Algebra/notes.lot
/Notes/MyNotes/Quantum_Linear_Algebra/notes.out
/Notes/MyNotes/Quantum_Linear_Algebra/notes.synctex.gz
/Notes/MyNotes/Quantum_Linear_Algebra/notes.toc

/Notes/MyNotes/Quantum_Error_Correction/notes-NMS.log
/Notes/MyNotes/Quantum_Error_Correction/notes.aux
/Notes/MyNotes/Quantum_Error_Correction/notes.bbl
/Notes/MyNotes/Quantum_Error_Correction/notes.blg
/Notes/MyNotes/Quantum_Error_Correction/notes.fdb_latexmk
/Notes/MyNotes/Quantum_Error_Correction/notes.fls
/Notes/MyNotes/Quantum_Error_Correction/notes.lof
/Notes/MyNotes/Quantum_Error_Correction/notes.log
/Notes/MyNotes/Quantum_Error_Correction/notes.lot
/Notes/MyNotes/Quantum_Error_Correction/notes.out
/Notes/MyNotes/Quantum_Error_Correction/notes.synctex.gz
/Notes/MyNotes/Quantum_Error_Correction/notes.toc

/Notes/MyNotes/Quantum_Computing/notes-NMS.log
/Notes/MyNotes/Quantum_Computing/notes.aux
/Notes/MyNotes/Quantum_Computing/notes.bbl
/Notes/MyNotes/Quantum_Computing/notes.blg
/Notes/MyNotes/Quantum_Computing/notes.fdb_latexmk
/Notes/MyNotes/Quantum_Computing/notes.fls
/Notes/MyNotes/Quantum_Computing/notes.lof
/Notes/MyNotes/Quantum_Computing/notes.log
/Notes/MyNotes/Quantum_Computing/notes.lot
/Notes/MyNotes/Quantum_Computing/notes.out
/Notes/MyNotes/Quantum_Computing/notes.synctex.gz
/Notes/MyNotes/Quantum_Computing/notes.toc

/Notes/MyNotes/Quantum_Information_Theory/notes-NMS.log
/Notes/MyNotes/Quantum_Information_Theory/notes.aux
/Notes/MyNotes/Quantum_Information_Theory/notes.bbl
/Notes/MyNotes/Quantum_Information_Theory/notes.blg
/Notes/MyNotes/Quantum_Information_Theory/notes.fdb_latexmk
/Notes/MyNotes/Quantum_Information_Theory/notes.fls
/Notes/MyNotes/Quantum_Information_Theory/notes.lof
/Notes/MyNotes/Quantum_Information_Theory/notes.log
/Notes/MyNotes/Quantum_Information_Theory/notes.lot
/Notes/MyNotes/Quantum_Information_Theory/notes.out
/Notes/MyNotes/Quantum_Information_Theory/notes.synctex.gz
/Notes/MyNotes/Quantum_Information_Theory/notes.toc

/Notes/MyNotes/Quantum_Machine_Learning/notes-NMS.log
/Notes/MyNotes/Quantum_Machine_Learning/notes.aux
/Notes/MyNotes/Quantum_Machine_Learning/notes.bbl
/Notes/MyNotes/Quantum_Machine_Learning/notes.blg
/Notes/MyNotes/Quantum_Machine_Learning/notes.fdb_latexmk
/Notes/MyNotes/Quantum_Machine_Learning/notes.fls
/Notes/MyNotes/Quantum_Machine_Learning/notes.lof
/Notes/MyNotes/Quantum_Machine_Learning/notes.log
/Notes/MyNotes/Quantum_Machine_Learning/notes.lot
/Notes/MyNotes/Quantum_Machine_Learning/notes.out
/Notes/MyNotes/Quantum_Machine_Learning/notes.synctex.gz
/Notes/MyNotes/Quantum_Machine_Learning/notes.toc

/Notes/MyNotes/references.bib
/qiskit-textbook-main
/.conda
/NC_Reference_Books
/Presentations