/Notes/codes/miniconda
/Notes/codes/qiskit_helloworld.ipynb
/Books
/Papers
/Notes/MyNotes/notes-NMS.log
/Notes/MyNotes/notes.aux
/Notes/MyNotes/notes.bbl
/Notes/MyNotes/notes.blg
/Notes/MyNotes/notes.fdb_latexmk
/Notes/MyNotes/notes.fls
/Notes/MyNotes/notes.lof
/Notes/MyNotes/notes.log
/Notes/MyNotes/notes.lot
/Notes/MyNotes/notes.out
/Notes/MyNotes/notes.synctex.gz
/Notes/MyNotes/notes.toc
/Notes/MyNotes/references.bib
/qiskit-textbook-main
/.conda
/NC_Reference_Books